{% extends "mysite/base.html" %}

 {% block content %}
<div class="container" style="margin-top: 25px" >
    <div class="card-deck">
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-1</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
                  <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-2</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
                <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-3</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
                <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
        <div class="w-100 d-none d-md-block d-lg-none"></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-4</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
              <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
       
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-5</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
                <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
        <div class="w-100 d-none d-xl-block"></div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-6</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
                <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
        
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-7</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
                <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-8</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
                <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
        
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="500X200" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Project-9</h4>
                <p class="card-text">Put your project here with picture and basic information with github link</p>
                <a class="btn btn-primary" href="#" role="button">Check On Github</a>
            </div>
        </div>
        
    </div>
</div>
{% endblock  %}